# Como ver se um ano tem 53 semanas

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder \
    .master("local") \
    .config("spark.sql.autoBroadcastJoinThreshold", -1) \
    .config("spark.executor.memory", "500mb") \
    .appName("Ex11") \
    .getOrCreate()

22/07/05 18:56:15 WARN Utils: Your hostname, computador resolves to a loopback address: 127.0.1.1; using 10.0.0.135 instead (on interface wlp2s0)
22/07/05 18:56:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/edson/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/07/05 18:56:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

## Criação de um df, com o id sendo o ano e o primeiro dia de cada ano

### x-1, pois queremos descobrir se a última semana do ano x-1 continua no ano x

In [46]:
df = spark.createDataFrame([(x-1, '01/01/' + str(x) + '') for x in range(1900, 2100)], ['Ano', 'Data_do_Ano'])

In [47]:
df.show()

+----+-----------+
| Ano|Data_do_Ano|
+----+-----------+
|1899| 01/01/1900|
|1900| 01/01/1901|
|1901| 01/01/1902|
|1902| 01/01/1903|
|1903| 01/01/1904|
|1904| 01/01/1905|
|1905| 01/01/1906|
|1906| 01/01/1907|
|1907| 01/01/1908|
|1908| 01/01/1909|
|1909| 01/01/1910|
|1910| 01/01/1911|
|1911| 01/01/1912|
|1912| 01/01/1913|
|1913| 01/01/1914|
|1914| 01/01/1915|
|1915| 01/01/1916|
|1916| 01/01/1917|
|1917| 01/01/1918|
|1918| 01/01/1919|
+----+-----------+
only showing top 20 rows

## Criação de uma coluna Data, transformando o tipo de dado para 'date'

In [48]:
df = df.withColumn('Data', to_date('Data_do_Ano', 'dd/MM/yyyy')).drop('Data_do_Ano')

In [49]:
df.show()

+----+----------+
| Ano|      Data|
+----+----------+
|1899|1900-01-01|
|1900|1901-01-01|
|1901|1902-01-01|
|1902|1903-01-01|
|1903|1904-01-01|
|1904|1905-01-01|
|1905|1906-01-01|
|1906|1907-01-01|
|1907|1908-01-01|
|1908|1909-01-01|
|1909|1910-01-01|
|1910|1911-01-01|
|1911|1912-01-01|
|1912|1913-01-01|
|1913|1914-01-01|
|1914|1915-01-01|
|1915|1916-01-01|
|1916|1917-01-01|
|1917|1918-01-01|
|1918|1919-01-01|
+----+----------+
only showing top 20 rows

## Criação da coluna, a qual mostra o número da semana do dia 01-01 de cada ano

In [50]:
df = df.withColumn('Num_da_semana_do_dia_01_01', weekofyear('Data'))

In [51]:
df.show()

+----+----------+--------------------------+
| Ano|      Data|Num_da_semana_do_dia_01_01|
+----+----------+--------------------------+
|1899|1900-01-01|                         1|
|1900|1901-01-01|                         1|
|1901|1902-01-01|                         1|
|1902|1903-01-01|                         1|
|1903|1904-01-01|                        53|
|1904|1905-01-01|                        52|
|1905|1906-01-01|                         1|
|1906|1907-01-01|                         1|
|1907|1908-01-01|                         1|
|1908|1909-01-01|                        53|
|1909|1910-01-01|                        52|
|1910|1911-01-01|                        52|
|1911|1912-01-01|                         1|
|1912|1913-01-01|                         1|
|1913|1914-01-01|                         1|
|1914|1915-01-01|                        53|
|1915|1916-01-01|                        52|
|1916|1917-01-01|                         1|
|1917|1918-01-01|                         1|
|1918|1919-01-01|                         1|
+----+----------+--------------------------+
only showing top 20 rows

## Filtração para ver os anos em que o numero da semana seja 53 e ver o total de anos com 53 semanas

In [52]:
df.filter('Num_da_semana_do_dia_01_01 = 53').show()

+----+----------+--------------------------+
| Ano|      Data|Num_da_semana_do_dia_01_01|
+----+----------+--------------------------+
|1903|1904-01-01|                        53|
|1908|1909-01-01|                        53|
|1914|1915-01-01|                        53|
|1920|1921-01-01|                        53|
|1925|1926-01-01|                        53|
|1931|1932-01-01|                        53|
|1936|1937-01-01|                        53|
|1942|1943-01-01|                        53|
|1948|1949-01-01|                        53|
|1953|1954-01-01|                        53|
|1959|1960-01-01|                        53|
|1964|1965-01-01|                        53|
|1970|1971-01-01|                        53|
|1976|1977-01-01|                        53|
|1981|1982-01-01|                        53|
|1987|1988-01-01|                        53|
|1992|1993-01-01|                        53|
|1998|1999-01-01|                        53|
|2004|2005-01-01|                        53|
|2009|2010-01-01|                        53|
+----+----------+--------------------------+
only showing top 20 rows

In [53]:
df.filter('Num_da_semana_do_dia_01_01 = 53').count()

35